USE [UserRevocation]
GO
/****** Object:  Table [dbo].[Manager_Details]    Script Date: 09/21/2014 15:57:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager_Details](
	[Manager_ID] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[Email_ID] [nvarchar](50) NOT NULL,
	[Mobile_No] [bigint] NOT NULL,
 CONSTRAINT [PK_Manager_Details] PRIMARY KEY CLUSTERED 
(
	[Manager_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group_MemberDet]    Script Date: 09/21/2014 15:57:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group_MemberDet](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Group_Manager] [nvarchar](50) NOT NULL,
	[Group_Member] [nvarchar](50) NOT NULL,
	[Group_Key] [nvarchar](50) NULL,
	[Group_Signature] [nvarchar](50) NULL,
	[File_Name] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emp_Register]    Script Date: 09/21/2014 15:57:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emp_Register](
	[Name] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Experience] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](6) NOT NULL,
	[Mobile_No] [bigint] NOT NULL,
	[Email_ID] [nvarchar](50) NOT NULL,
	[Designation] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[Reason] [nvarchar](max) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Verification_Status]    Script Date: 09/21/2014 15:57:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Verification_Status](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Manager_ID] [nvarchar](50) NULL,
	[Rquested_File_Name] [nvarchar](max) NULL,
	[MetaData] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_verification_status]    Script Date: 09/21/2014 15:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_verification_status]
(@Manager_ID nvarchar(50),@Requested_File nvarchar(max),@MetaData nvarchar(max),@Status nvarchar(50),@ID bigint)
AS
BEGIN
if(@Status='Requested')
	begin
		INSERT INTO [UserRevocation].[dbo].[Verification_Status]
			   ([Manager_ID]
			   ,[Rquested_File_Name],[MetaData]
			   ,[Status])
		 VALUES (@Manager_ID,@Requested_File,@MetaData,@Status)
	end
else
	begin
		UPDATE [UserRevocation].[dbo].[Verification_Status] SET [Status] = @Status WHERE ID=@ID
	end
END
GO
/****** Object:  StoredProcedure [dbo].[sp_select]    Script Date: 09/21/2014 15:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_select] 
(@option nvarchar(50),@group_member nvarchar(50),@group_manager nvarchar(50))
as
BEGIn
	if @option='Null'
		begin	
			SELECT COUNT(Manager_ID) from Manager_Details
		end	
	if	@option='emp_id'
		begin	
			select * from Emp_Register
		end
	
	if @option='Select'
		begin
			select Group_Manager from Group_MemberDet where Group_Member=@group_member
		end
	if @option='ViewRequest'
		begin
			select * from Group_MemberDet where Status = 'Requested' and Group_Manager = @group_manager
		end
	if @option='File'
		begin
			select File_Name from Group_MemberDet where Group_Member=@group_member
		end
	if @option='Ver'
	begin
		Select * from Verification_Status where Status='Requested'
	end
END
GO
/****** Object:  StoredProcedure [dbo].[sp_register]    Script Date: 09/21/2014 15:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_register]
	-- Add the parameters for the stored procedure here
	@mode nvarchar(50),
	
	@Name nvarchar(50),
	
	@Username nvarchar(50),
	
	@Password nvarchar(50),
	
	@Experience nvarchar(50),
	
	@Gender nvarchar(6),
	
	@Mobile_No bigint,
	
	@Email_ID nvarchar(50),
	
	@Designation nvarchar(50),@Reason nvarchar(max),
	
	@output nvarchar(50) output
AS
BEGIN
	if @mode = '1'
	
	begin
	
	declare @count int
	
	set @count = (select COUNT(Username) from Emp_Register where Username=@Username)
	
	if @count = 0
	
	begin
		if exists(SELECT [Name]      ,[Username]      ,[Password]      ,[Experience]      ,[Gender]      ,[Mobile_No]      ,[Email_ID]      ,[Designation]      ,[Status]      ,[Reason]  FROM [UserRevocation].[dbo].[Emp_Register] where 
		[Name]=@Name
		and [Username]=@Username 
		and [Password]=@Password 
		and [Gender]=@Gender 
		and [Mobile_No]=@Mobile_No 
		and [Email_ID]=@Email_ID 
		and [Designation]=@Designation)
		begin
			  UPDATE [UserRevocation].[dbo].[Emp_Register]
			  SET 
			  [Experience] = @Experience
			  ,[Status] = 'Normal User'
			  WHERE [Username] = @Username
		end
		else
			begin
			insert into Emp_Register(Name,Username,Password,Experience,Gender,Mobile_No,Email_ID,Designation)
			values(@Name,@Username,@Password,@Experience,@Gender,@Mobile_No,@Email_ID,@Designation)
			set @output='Registered Sucessfully'
		end
	end
	
	if @count > 0
	
	begin
	
	set @output='Username is already Exists'
	
	end
	
	end
	
	if @mode = '2'
	
	begin
	
	insert into Manager_Details values(@Username,@Password,@Name,@Gender,@Email_ID,@Mobile_No)
	
	set @output='Registered Sucessfully'
	
	end
	if @mode = 'Revocation'
	
	begin
	
	update Emp_Register set Status='Revoked',Reason=@Reason where Username=@Username and Password=@Password
	
	set @output='Revoked Sucessfully'
	
	end
END
GO
/****** Object:  StoredProcedure [dbo].[sp_manager_response]    Script Date: 09/21/2014 15:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_manager_response]
  (@id int)
  as
  begin
  update Group_MemberDet set Status='Granted' where ID=@id
  end
GO
/****** Object:  StoredProcedure [dbo].[sp_add_employees]    Script Date: 09/21/2014 15:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_add_employees]
(
@input nvarchar(40),
@group_manager nvarchar(50),
@group_member nvarchar(50),
@sign nvarchar(50),
@key nvarchar(max),
@filename nvarchar(50),
@output nvarchar(50) output
)
as
begin

	if @input='Add_Emp'
	
	begin
	
	declare @a int
	
		if exists(Select * from Group_MemberDet where Group_Manager=@group_manager and Group_Member=@group_member)
		
			begin
			
				set @output='Already Exists In Your Group'
				
			end
			
		else if not exists(Select * from Group_MemberDet where Group_Manager=@group_manager and Group_Member=@group_member)
		
			begin
			
				insert into [Group_MemberDet](Group_Manager,Group_Member) values(@group_manager,@group_member)
				
				select @a=@@IDENTITY 
				
				set @output='Inserted' + ' ' + 'Sucessfully	' + ' ' + CONVERT(nvarchar(50),@a) + ' ' + 'Members are Added'
				
			end
			
	end
	
	if @input='Update'
	
		begin
		
			update [Group_MemberDet] set Group_Signature=@sign where Group_Manager=@group_manager
			
		set @output='Updated Sucessfully'
		
	end
	
	if @input='Request'
	
		begin
		
			update [Group_MemberDet] set File_Name=@filename,Status='Requested' where Group_Manager=@group_manager and Group_Member=@group_member
			
			set @output='Request Sent Sucessfully'
			
		end
		
	if @input='Sign'
	
		begin
		
			select Group_Signature from [Group_MemberDet] where Group_Member=@group_member
			
			set @output=(select distinct(Group_Signature) from [Group_MemberDet] where Group_Member=@group_member)
			
		end
end
GO
/****** Object:  Table [dbo].[Manager_Sign_Key]    Script Date: 09/21/2014 15:57:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager_Sign_Key](
	[Group_Manager] [nvarchar](50) NOT NULL,
	[Group_Signature] [nvarchar](50) NOT NULL,
	[Private_Key] [nvarchar](50) NOT NULL,
	[Public_Key] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_Manager_Sign_Key_Manager_Details]    Script Date: 09/21/2014 15:57:14 ******/
ALTER TABLE [dbo].[Manager_Sign_Key]  WITH CHECK ADD  CONSTRAINT [FK_Manager_Sign_Key_Manager_Details] FOREIGN KEY([Group_Manager])
REFERENCES [dbo].[Manager_Details] ([Manager_ID])
GO
ALTER TABLE [dbo].[Manager_Sign_Key] CHECK CONSTRAINT [FK_Manager_Sign_Key_Manager_Details]
GO
